.header-title-style {
    font-size: 61px;
    padding: 10px;
    margin-top: 120px;
    color: rgb(242, 160, 7);

}

.background-color {
    background: linear-gradient(#1c0603, #03071d, #190219);
}

.btn-hover-style:hover {
    background-color: #456906;
    color: aliceblue;
}

@media only screen and (max-width: 800px) {
    .header-title-style {
        margin-top: 15px;
        margin-bottom: 0;
    }
}